.xxs-14
	+r($xs)
		width: 100%
.xxss-14
	+r($xxs)
		width: 100%
.xxs-hidden
	+r($xs)
		display: none
.article
	padding-bottom: 4rem 
	+r($sm)
		padding: 0 1rem 4rem 
	+r($xxs)
		padding: 0 0 3rem 
	h1
		line-height: 1.1			
		+r($md)
			font-size: 3rem
			margin-bottom: 4.2rem
		+r($sm)
			font-size: 2.5rem
		+r($xs)
			font-size: 2rem
			margin-bottom: 2rem
		+r($xxs)
			font-size: 1.6rem
		&:after
			bottom: -2.5rem
			+r($sm)
				bottom: -2rem
			+r($xs)
				height: .2rem
				width: 2rem
				bottom: -1rem
	h2
		+r($md)
			margin: 1.4rem 0
	h3
		+r($md)
			margin-top: 4rem
		+r($sm)
			margin-top: 3rem
		
.title
	line-height: 1.1
	+r($md)
		font-size: 3rem
		margin-bottom: 4.2rem
	+r($sm)
		font-size: 2.5rem
	+r($xs)
		font-size: 2rem
		margin-bottom: 2rem
	+r($xxs)
		font-size: 1.6rem
	&:after
		bottom: -2.5rem
		+r($sm)
			bottom: -2rem
		+r($xs)
			height: .2rem
			width: 2rem
			bottom: -1rem
.info-block
	&__logo
		height: 23rem
		width: 23rem
		border-radius: 50%
		background: $third
		position: relative
		+r($sm)
			margin: 0 auto
		+r($xs)
			margin: 2rem auto
			height: 17rem
			width: 17rem
		img
			position: absolute
			top: 50%
			left: 50%
			margin-top: -65px
			margin-left: -80px
			+r($xs)
				width: 100px
				height: auto
				margin-left: -50px
				margin-top: -44px 
				 
.list
	li
		+r($md)
			margin-bottom: 2rem 
				

			 