// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby) 
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts

	
html
	font-size: 62.5%
body
	+reg
	font-size: 1.4rem
	line-height: 2
	color: $text
	min-width: 320px
	+r(768)
		line-height: 1.5
.personal-office
	.block_lk
		> .container-fluid
			background: url(../img/the-best-bird-ever.png) calc(100% - 30px) 100% no-repeat
button
	cursor: pointer
	+reg
a
	text-decoration: none
.text-center
	text-align: center	
.out
	overflow: hidden
.container-fluid
	max-width: 112rem 
	min-width: 32rem
.row
	&_table
		display: table
		width: 100%
		table-layout: fixed
		> div
			float: none
			display: table-cell
			vertical-align: top
		&.is-bottom
			> div
				vertical-align: bottom
	&_table-auto
		display: table
		width: 100%
		> div
			display: table-cell
			vertical-align: top
	&_calc
		+r(1200)
			display: block
			> div
				display: block
.col-sidebar
	position: relative
	width: 24rem
.col-main
	position: relative
	+r(992)
		width: 100%
		padding: 0 10px 
.text-right
	text-align: right
.btn-action
	border: 1px solid
	padding: .6rem 2rem
	line-height: 1 
	font-size: 1.8rem
	+light
	border-radius: 1.5rem 
	color: #fff 
	background: none
	transition: color, background, .3s
	&:hover
		background: #fff
		color: #000  
.droplist
	display: inline-block
	position: relative
	+light
	font-size: 1.8rem
	color: #fff
	text-align: left
	&:hover
		.droplist__main
			opacity: 1
			visibility: visible
	&__title
		display: block
		position: relative
		padding: 0 1.8rem 
		&:after
			content: $icon-caret-d
			+icon
			position: absolute
			right: 0
			margin-top: -0.3rem
			top: 50%
			font-size: 6px
	&__main
		position: absolute
		top: 100%
		left: 0
		opacity: 0
		visibility: hidden
		+tr(opacity .3s)
		background: $third
	&__item
		a
			display: block
			position: relative
			padding: 0 1.8rem
			color: #fff
			+tr(color .3s)
	&__touch-select
		display: none
		position: absolute
		top: 0
		left: 0
		width: 100%
		min-height: 100%
		height: 2rem
		opacity: 0
.btn-link
	display: inline-block
	border: 2px solid #fff
	padding: 1.2rem 2.8rem
	line-height: 1
	font-size: 2.4rem
	+light
	color: #fff  
	transition: color, background, .3s
	background: none 
	+r(1400)
		font-size: 2.2rem
	+r($sm)
		font-size: 1.8rem
	&:hover
		background: #fff
		color: #000  
	&.is-small
		font-size: 1.8rem
		padding: 0.7rem 3.4rem 
.ps-container
	position: relative
	> .ps-scrollbar-x-rail
		bottom: 0 !important
		border-top: 1px solid #adb6ba 
		border-bottom: 1px solid #adb6ba 
		background: #c5cfd4 !important
		height: 6px 
		border-radius: 0 
		opacity: 1 !important
		> .ps-scrollbar-x
			background: #307296 !important
			height: 4px
			border-radius: 0 
	> .ps-scrollbar-y-rail
		bottom: 0 !important
		border-left: 1px solid #adb6ba 
		border-right: 1px solid #adb6ba 
		background: #c5cfd4 !important
		width: 6px 
		border-radius: 0 
		opacity: 1 !important
		right: 0 !important
		> .ps-scrollbar-y
			background: #307296 !important
			width: 4px
			border-radius: 0 
.menu
	position: fixed
	z-index: 16 
	right: 0
	bottom: 0
	top: 0
	width: 30rem
	background: $third
	padding-top: 7rem
	transition: transform .3s
	transform: translateX(100%)
	overflow-y: auto
	+r($sm)
		padding-top: 4.2rem
	&.is-active
		visibility: visible
		transform: translateX(0)
		
	&__item
		display: block
		padding: 1rem 3rem 1rem 2rem 
		color: #FFF
		font-size: 1.8rem
		text-align: right
		+reg 
		transition: border .3s
		border-bottom: 1px solid rgba(#fff, .2)
		+r($xs)
			font-size: 1.4rem
		&:first-child
			border-top: 1px solid rgba(#fff, .2)
		&.is-center
			text-align: center
		&:hover
			background: darken($third,3%)
	.btn-nav
		top: 3.5rem 
		right: 3.6rem
		z-index: 20
		+r($sm)
			top: 2rem

.checkbox
	position: relative
	display: inline-block
	&__text
		display: block
		position: relative
		line-height: 1
		padding-left: 35px
		cursor: pointer
		+nosel
		i
			position: absolute
			top: 0
			left: 0
			border: 1px solid $text
			width: 17px
			height: 17px
			text-align: center
			line-height: 15px
			&:before
				display: none
				content: $icon-check
				+icon
				vertical-align: middle 
				font-size: 12px
	input
		position: absolute
		opacity: 0
		&:checked
			+ span
				i
					&:before
						display: inline-block
