.footer
	padding: 7rem 0 
	box-shadow: inset 0 4px 7px rgba(#000,.06)
	+r(992)
		padding: 5rem 0
	+r(768)
		padding: 3rem 0
.footer__wrap
	+clr
.footer__menu
	float: left
	padding: 0 7% 0 2%
	border-right: 1px solid $border 
	+r(768)
		float: none
		border-right: none
		padding: 0 
		 
	li
		margin-top: 1.5rem
		font-size: 1.4rem
		+light
		+r(768)
			text-align: center
			margin-top: 1rem
		&:first-child
			margin-top: 0
	a
		display: inline-block
		padding: 3px 0 
		color: $footer
		border-bottom: 1px solid transparent
		transition: color, border-color, .3s
		&:hover
			color: darken($footer,20%)
		&:active
			color: $footer
			border-color: $footer
.footer__info
	float: right
	text-align: right
	+r(768)
		float: none
		text-align: center
		margin-top: 1.5rem
.copyright
	color: $footer
	font-size: 1.8rem
	+light 
	line-height: 1
.soc
	margin-bottom: 3rem
	a
		display: inline-block
		vertical-align: middle
		margin-left: 1rem