.header
	position: fixed
	top: 0
	right: 0
	left: 0
	padding: 2rem 0 
	background: $third
	color: #fff  
	+clr
	z-index: 15
	+r($sm)
		padding: 1.2rem 0 
	.logo,
	.nav,
	.btn-action
		float: left
	.droplist
		position: absolute
		right: -5rem
		top: 0
		+r(1200)
			display: none
	.logo
		margin-right: 4%
	.btn-action
		+r(1200)
			display: none
		&:last-child
			float: right
	.container-fluid
		position: relative
	&_in
		+shadow-small
.logo
	+hide-text
	+r($sm)
		img
			height: 18px
			width: auto
.nav
	display: table
	width: 52%
	font-size: 1.4rem
	+light
	text-align: center
	+r(1200)
		display: none
	&__item
		display: table-cell
		vertical-align: top
		width: 15%
		max-width: 15%
	&__link
		display: block
		position: relative
		padding: 0 .8rem 
		height: 3rem
		line-height: 3rem
		color: #fff 
		&:before
			content: ""
			position: absolute
			left: 0
			top: 0
			width: 1px
			height: 3rem
			background: #307296  
		&:hover
			text-decoration: underline
.btn-nav
	display: none
	+r($lg)
		display: block
		position: absolute
		right: 3rem
		width: 2.5rem
		top: 50%
		background: none
		height: 2.2rem 
		margin-top: -1.1rem
		i
			height: .3rem
			display: inline-block
			position: absolute
			top: 50%
			left: 0
			margin-top: -0.15rem
			width: 2.5rem
			background: #fff 
			border-radius: 1px
			transition: opacity.3s
			&:before,
			&:after
				content: ""
				right: 0
				left: 0
				height: 0.3rem
				position: absolute
				background: #FFF
				border-radius: 1px
				transition: top, bottom, transform, .3s
			&:before
				top: -.6rem
			&:after
				top: auto
				bottom: -0.6rem
	&.is-active
		i
			background: transparent 
			&:before
				transform: rotate(45deg)
				top: 0
			&:after
				transform: rotate(-45deg)
				top: 0
				bottom: auto
.lang
	position: absolute
	top: 2rem
	right: 8rem
	z-index: 3
	color: #FFF  
	+r($sm)
		top: 0.5rem
	+r($xs)
		top: 1rem
	&__item
		display: inline-block
		font-size: 1.8rem
		padding: 0 1rem
		color: #FFF
		text-decoration: underline
		+reg
		&:hover
			text-decoration: none 
		&.is-active
			text-decoration: none
			&:hover
				cursor: default
		+r($xs)
			font-size: 1.4rem