.article
	margin-top: 8.5rem 
	+r($md)
		margin-top: 6rem
	h1
		color: $text
		font-size: 3.6rem
		letter-spacing: .5px
		+bold
		position: relative
		margin-bottom: 6.8rem
		&:after
			content: ""
			position: absolute
			height: .4rem
			width: 3rem
			background: $main
			bottom: -.4rem
			left: 0 
	h2
		margin: 2.8rem 0
		font-size: 1.4rem
		+reg
		font-weight: 400
	h3
		margin-top: 6rem
		font-size: 1.4rem
		+reg
		font-weight: 400
	li
		position: relative
		padding-left: 1.1rem
		+light
		&:before
			content: ""
			position: absolute
			left: 0
			height: .5rem
			width: 0.5rem
			top: 1rem
			background: $text
			border-radius: 50%   
.title
	color: $text
	font-size: 3.6rem
	letter-spacing: .5px
	+bold
	font-weight: bold
	position: relative
	margin-bottom: 6.8rem
	+r($sm)
		margin-top: 2rem
	&:after
		content: ""
		position: absolute
		height: .4rem
		width: 3rem
		background: $main
		bottom: -.4rem
		left: 0
	&.no-marg
		margin-bottom: 0

.text
	font-size: 1.4rem
	+light
	line-height: 1.5
	+r($xs)
		font-size: 1.2rem
	&.is-bigger
		font-size: 1.8rem
		+r($sm)
			font-size: 1.6rem
		+r($xs)
			font-size: 1.4rem
	&.with-marg
		margin: 2.2rem 0
		p
			margin-top: 2.3rem
			&:first-child
				margin-top: 0
	&.is-light
		color: $window
	&_point
		+bold
		margin-bottom: 5rem
		+r($sm)
			margin-bottom: 3rem
		+r($xs)
			margin-bottom: 2rem
.iframe
	position: relative
	padding-bottom: 51.5%
	height: 0
	overflow: hidden
	width: 100%	  
	iframe
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		

.table
	background: $second
	width: 100%
	padding: 5rem 0 8rem 
	color: #fff 
	line-height: 1
	+box-shadow
	+reg
	overflow: hidden
	+r($sm)
		padding: 3rem 
	&.ps-container
		.ps-scrollbar-x
			background: $second !important 
	table
		width: 100%
		min-width: 600px
		margin: 0 auto 
		white-space: nowrap
		background: $second
	thead
		tr
			&:first-child
				th
					padding-bottom: 3.5rem
					font-size: 1.4rem 
					+light
					&:first-child
						font-size: 2.4rem
						text-align: left
						+r($sm)
							font-size: 2rem
						+r($xs)
							font-size: 1.8rem
		th
			padding: 1.8rem 1rem 
			font-size: 2.4rem
			font-weight: normal
			+r($sm)
				font-size: 2rem
			+r($xs)
				font-size: 1.8rem
			&:first-child
				text-align: left
				padding-left: 33rem
				+r(1600)
					padding-left: 10rem
				+r($sm)
					padding-left: 4rem
				+r($xs)
					padding-left: 1rem
			&:last-child
				padding-right: 33rem
				+r(1600)
					padding-right: 10rem
				+r($sm)
					padding-right: 4rem
				+r($xs)
					padding-right: 1rem
	td
		text-align: center
		padding: 1.5rem 1rem
		font-size: 1.4rem
		&:first-child
			text-align: left
			padding-left: 33rem
			+r(1600)
				padding-left: 10rem
			+r($sm)
				padding-left: 4rem
			+r($xs)
				padding-left: 1rem
		&:last-child
			padding-right: 33rem
			+r(1600)
				padding-right: 10rem
			+r($sm)
				padding-right: 4rem
			+r($xs)
				padding-right: 1rem
	tbody
		tr
			position: relative
			&:nth-child(2n+1)
				td
					position: relative
					background: rgba(#fff,.1)
	tfoot
		td
			padding: 20px 
						 
	.btn-link
		font-size: 1.4rem
	&_secondary
		padding: 0
		box-shadow: none
		width: auto
		table
			width: auto
		thead
			th
				font-size: 2.4rem
				+r($sm)
					font-size: 2rem
				+r($xs)
					font-size: 1.8rem
	&_third
		padding-top: 0
		max-height: 52rem
		thead
			tr
				white-space: normal 
				&:first-child
					th
						padding: 1.8rem 1rem 
						font-size: 1.8rem
						text-align: center
						font-weight: normal
						&:first-child
							text-align: left
							padding-left: 33rem
							+r(1600)
								padding-left: 9rem
							+r($sm)
								padding-left: 4rem
							+r($xs)
								padding-left: 1rem
						&:last-child
							padding-right: 33rem
							+r(1600)
								padding-right: 10rem
							+r($sm)
								padding-right: 4rem
							+r($xs)
								padding-right: 1rem
	&_fourth
		padding: 0 0 5rem
		thead
			tr
				white-space: normal 
				&:first-child,
				&:last-child
					th
						padding: 1.8rem .5rem 
						font-size: 1.7rem
						text-align: center
						font-weight: normal
						&:first-child
							font-size: 1.7rem
		td
			padding: 1.5rem .5rem 
			font-size: 1.3rem
			&:first-child
				padding-left: 0.5rem
			&:last-child
				padding-right: .5rem 
		.btn-link
			padding-left: 1.7rem
			padding-right: 1.7rem
	&_fifth
		padding: 0 0 5rem
		min-width: 70rem
		thead
			tr
				white-space: normal 
				&:first-child,
				&:last-child
					th
						padding: 1.8rem .5rem 
						font-size: 1.8rem
						text-align: center
						font-weight: normal
						width: 20%
						&:first-child
							font-size: 1.8rem
							padding-left: 3rem
		td
			padding: 1.5rem .5rem 
			width: 20%
			&:first-child
				padding-left: 3rem
			&:last-child
				padding-right: .5rem 
		
	&_head
		padding-bottom: 0
	&.with-border
		border-bottom: 1px solid $main
.table-vertical-scroll
	max-height: 47rem
	min-width: 70rem
	overflow-x: hidden !important
.link
	display: inline-block
	border-bottom: 1px solid #fff 
	color: #fff
	font-size: 1.8rem 
	background: none 
	transition: border-color .3s
	&:hover
		border-color: transparent 
.exchange-info
	+reg
	font-size: 1.8rem
	&__title
		font-size: 2.4rem
		+r($sm)
			font-size: 2rem
		+r($xs)
			font-size: 1.8rem

.exch
	position: fixed
	left: 0
	top: 50%
	z-index: 10
	transform: translateY(-50%)
	height: 4rem
	width: 22rem
	margin-top: -2rem
	+r($sm)
		display: none
		// top: 0
		// left: 50%
		// z-index: 16
		// margin: 0
		// transform: translateX(-50%) translateY(0)
	&.is-active
		.exch__window
			opacity: 1
			visibility: visible
	&__show
		position: absolute
		left: 0
		top: 0
		padding: .8rem 4.5rem
		line-height: 1
		background: $second
		font-size: 2.4rem
		+reg  
		color: #fff 
		+tr(background .3s)
		white-space: nowrap
		&:hover
			background: darken($second, 5%) 
		&:before,
		&:after
			position: absolute
			+icon
			color: $main
			font-size: 1rem
		&:after
			content: $icon-corner-r
			right: 2px
			top: 2px
		&:before
			content: $icon-corner-l
			left: 2px
			bottom: 2px
		+r($lg)
			left: -6rem
			font-size: 2rem
			padding: .8rem 2rem 
			transform: rotate(-90deg)
			transform-origin: 50% 50% 
		+r($sm)
			transform: none
			left: 0
			top: .4rem
			font-size: 1.8rem
	&__hide
		position: absolute
		right: 0
		top: 0
		width: 3.2rem
		height: 3.2rem
		color: rgba(#fff, .2)
		background: none 
		+tr(color .3s)
		&:hover
			color: #fff 
		i
			vertical-align: middle
			font-size: 5px
		&:after
			content: ""
			position: absolute
			left: 50%
			top: 50%
			margin: -.7rem 0 0 -.8rem 
			border: 1px solid
			width: 1.6rem
			height: 1.6rem
			+circle
			 
	&__title
		position: relative
		margin-bottom: 4px
		font-size: 2.4rem
		.drop
			position: absolute
			right: 0
			top: 9px
		+r($sm)
			font-size: 2rem
		+r($xs)
			font-size: 1.8rem
	&__window
		position: absolute
		top: 0
		left: 0
		width: 32rem
		padding: 20px 40px 20px 20px
		background: $second
		color: #fff  
		font-size: 1.4rem
		opacity: 0
		visibility: hidden
		+tr(opacity .3s)
		+r($lg)
			top: -6rem
	&__table
		width: 100%
		white-space: nowrap
		table-layout: fixed
		td
			&:first-child
				border-right: 1px solid #fff 
			&:last-child
				text-align: right
		tr
			&.is-marked
				td
					font-size: 1.8rem
					&:last-child
						font-size: 2.4rem

.drop
	position: relative
	display: inline-block
	padding: .5rem 0 .5rem
	white-space: nowrap
	font-size: 1.8rem
	+reg
	color: $text
	line-height: 1
	cursor: pointer
	&_light
		.drop__title
			color: #fff
	&.is-active
		color: #fff
		background: $main  
		.drop__title
			color: #fff
			border-color: #fff 
			&:after
				color: #fff 
		.drop__list
			opacity: 1
			visibility: visible
	&__title
		display: block
		position: relative
		border-bottom: 1px solid $main 
		padding: 2px 3.4rem 2px 1.2rem 
		&:after
			content: $icon-arr-r
			+icon
			position: absolute
			right: 8px
			top: 50%
			margin-top: -3px
			font-size: 6px
			color: $main  
	&__list
		position: absolute
		top: 100%
		left: 0
		right: 0
		z-index: 10
		padding-bottom: 5px
		background: $main 
		color: #fff 
		opacity: 0
		visibility: hidden
		+tr(opacity .3s)
		li
			padding: .7rem 1.2rem 
			font-size: 1.4rem
			cursor: pointer
			&:hover
				background: $second 
		a
			color: #fff 
	select
		opacity: 0
		position: absolute
		visibility: hidden
.rank
	&__title
		margin-bottom: 2.4rem
		font-size: 2.4rem
	&__row
		display: table
		width: 100%
		table-layout: fixed
		+r($sm)
			display: block
			margin-bottom: 2rem
	&__cell
		display: table-cell
		vertical-align: top
		font-size: 1.8rem
		height: 11rem
		min-height: 11rem
		+r($md)
			font-size: 1.4rem
		+r($sm)
			display: block
			height: auto
			min-height: 4rem 
		&:first-child
			position: relative
			padding: 0 1rem 0 8.4rem
			+r($md)
				padding-left: 4.4rem
			i
				position: absolute
				left: 0
				top: -.8rem
				font-size: 5rem
				+r($md)
					font-size: 3rem
					top: -0.2rem
	&__icons
		margin: .8rem 0 0 
		width: 60%
		font-size: 0
		+r($sm)
			width: 100%
		i
			margin: 0 3rem 1rem 0
			font-size: 3rem
			+r($md)
				font-size: 2rem
.rank-slider
	margin: 2rem 0 0 
	.slick-dots
		position: absolute
		top: 0
		left: -8rem
		right: -8rem
		+clr
		+r($md)
			left: -3rem
			right: -3rem
		+r($sm)
			left: 0
			right: 0
		&:before
			content: ""
			position: absolute
			top: 50%
			margin-top: -2px
			left: -3rem
			right: -3rem
			height: 4px
			background: #fff 
			border-radius: 4px  
			+r($md)
				left: 3rem
				right: 3rem
			+r($xs)
				height: 2px
				margin-top: -1px 
		li
			float: left
			position: relative
			width: 10%
			z-index: 2
			text-align: center
		button
			border: 2px solid #fff
			width: 3rem
			height: 3rem
			+circle
			background: $main
			font-size: 1.6rem
			color: #fff 
			transition: background, color, .3s
			&:hover
				background: #fff
				color: $main 
			+r($xs)
				font-size: 1.2rem
				width: 2rem
				height: 2rem
				border-width: 1px 
		.slick-active
			button
				background: #fff
				color: $main  
	.slick-slide
		padding-top: 6.5rem
		+r($xs)
			padding-top: 3rem
		