.clr
	+clr
.block_lk
	> .container-fluid
		+r(1200)
			padding: 0
		> .row_table
			width: calc(100% + 130px)
			+r(1336)
				width: calc(100% + 80px)
			+r(1240)
				width: calc(100% + 40px)
			+r(1200)
				width: 100%
				margin: 0
			> .col-lg-3
				width: 240px
				+r(1200)
					width: auto
.btn-sidebar
	display: none
	width: 2.5rem
	height: 5rem
	background: $second
	color: #FFF
	+vertical
	position: fixed
	top: 50%
	left: 0
	margin-top: -2.5rem
	z-index: 9
	transition: background .3s, left .3s
	+r($md)
		display: block
	i
		font-size: .5rem
		transform: rotate(-90deg)
		vertical-align: middle
		transition: transform .3s
	&:hover
		background: lighten($second, 10%) 
	&.is-active
		left: 25rem
		i
			transform: rotate(90deg)
.sidebar
	background: $second
	position: absolute
	top: 0
	bottom: 0
	right: 1rem
	left: 1rem 
	padding-top: 2.2rem
	z-index: 10
	+r($md)
		width: 25rem
		transform: translateX(-26rem)
		margin-right: 2rem
		transition: transform .3s

	&.is-active
		transform: translateX(-1rem)
	li
		position: relative
		margin-bottom: 2rem
		&:before
			content: ""
			position: absolute 
			+arr(1.1, 2, #fff,l)
			top: 50%
			margin-top: -1rem
			right: -2.1rem
			z-index: 1
			display: none
			+r($md)
				display: none
		&:after
			content: ""
			position: absolute
			+arr(1.3,2.4,#000,l)
			opacity: .1 
			top: 50%
			margin-top: -1.2rem
			right: -2.1rem
			z-index: 0 
			display: none
			+r($md)
				display: none
		&.is-active
			&:before,
			&:after
				display: block
				+r($md)
					display: none
			.sidebar__item
				background: $second-hover 
				border-right: 3px solid #fff
				color: #fff
				i
					color: #fff
		&.is-first
			&:before
				+arr(1.1, 2, $main,l)
				+r($md)
					display: none
	&__item
		display: block
		width: 100%
		line-height: 1
		padding: .8rem .9rem 1.1rem 1.4rem
		border-right: 3px solid transparent
		transition: background, border, color, .3s
		+reg
		font-size: 1.6rem
		color: $sidebar 
		white-space: nowrap
		&:hover
			background: $second-hover 
			border-right: 3px solid #fff
			color: #fff
			i
				color: #fff
		i
			font-size: 1.6rem
			color: $sidebar
			vertical-align: bottom
			transition: color .3s 
		span
			display: inline-block
			vertical-align: bottom 
			margin-left: 0.3rem
.window
	+shadow-box
	width: 100%
	margin-top: 2.2rem 
	margin-bottom: 20rem
	.slider-small
		+r($md)
			margin: 1rem 0
		 
	&__title
		background: $main
		padding: .7rem 1rem 
		line-height: 1
		font-size: 2.4rem 
		color: #fff 
		+reg
		+shadow-small  
	&__body
		background: #FFF
		padding: 3.5rem 8rem
		+r($lg)
			padding: 3.5rem 
		+r($sm)
			padding: 2rem 
		&.with-border
			border-bottom: 1px solid $border
			padding-bottom: 5rem
		&.is-secondary
			padding: 2rem
			min-height: 67rem
		&.is-third
			position: relative
			padding: 5rem 8rem
			text-align: center	
			+r($xs)
				padding: 0 3rem 3rem
			img
				+r($lg)
					width: 100%
					height: auto	 
			&:before
				content: ""
				position: absolute
				top: 3rem
				right: 6rem
				left: 6rem
				height: 1px
				background: $border 
				+r($xs)
					display: none
		&.is-dark
			padding: 2rem
			background: $second 
			.window__subtitle
				color: #FFF
				+reg 
		&.is-another-pads
			padding: 3rem  
			+r($sm)
				+clr
	&__subtitle
		font-size: 2.4rem
		color: $window
		line-height: 1
		+bold 
		+r($xs)
			font-size: 1.8rem
		&.with-border
			padding-bottom: 1.4rem
			margin-left: -2rem
			padding-left: 2rem
			border-bottom: 1px solid $border
		&.is-smaller
			font-size: 1.8rem
			+reg
		.drop
			margin-left: 3rem 
	.subtitle
		font-size: 1.8rem
		text-align: left
		line-height: 1
		+bold
		
.info
	font-size: 0
	line-height: 1
	margin: 2.3rem 0 7.6rem 
	+r($sm)
		margin: 1.5rem 0 2rem 
	&_secondary
		margin: 0
		border-bottom: 1px solid $border
		padding-bottom: 1rem
		.info__title
			margin-right: 0
			width: 40%
	&__block
		margin-bottom: 3rem
		+clr
		&:last-child
			margin-bottom: 0
	&__title
		float: left
		font-size: 1.8rem
		+bold
		margin-right: 7.5rem
		+r($xs)
			font-size: 1.4rem
	&__text
		overflow: hidden
		font-size: 2.4rem
		+light 
		+r($xs)
			font-size: 1.8rem
.download
	&__textarea
		float: left
		width: 70%
		margin-right: 2rem
		+r($lg)
			width: 66%
		+r($xs)
			float: none
			width: 100%
			margin-bottom: 2rem
		textarea
			resize: none
			width: 100%
			height: 11rem
			border: 1px solid $main
			transition: border-color, color, .3s
			padding: .5rem 1.8rem
			line-height: 1.5
			color: #c8c9ca
			+reg
			font-size: 1.8rem
			&:focus
				color: $window 
				border-color: darken($main, 10%)
			
	&__right
		overflow: hidden
		width: 23%
		+r($lg)
			width: 30%
		+r($xs)
			width: 100%
			overflow: visible
		.btn-download
			margin-top: 1rem
			&:first-child
				margin-top: 0
	&__footer
		width: 38rem
		margin: 4rem 0 0 4rem
		+r($md)
			margin: 2rem 0 0 0
			width: 66% 
		+r($xs)
			width: 100%
		
.btn-download
	display: block
	background: $third
	padding: .4rem 1rem .6rem 
	text-align: center 
	font-size: 0
	width: 100%
	line-height: 1
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23)
	+light 
	i
		margin-right: 1rem 
		+icon
		font-size: 2rem
		color: #fff
		vertical-align: middle 
		transform: rotate(-90deg)
	span
		display: inline-block
		color: #fff
		font-size: 1.4rem
		vertical-align: middle
	&.is-bigger
		padding: .6rem 1rem .8rem 
		span
			font-size: 1.8rem
	&.is-different
		+r($lg)
			padding: .4rem .5rem .6rem 
		i
			margin-right: 0
		span
			text-align: left
			max-width: 83%
			padding-left: 1rem 
			font-size: 1.2rem

.review-wrap
	background: #FFF 
	padding: 0 8rem 
	+r($sm)
		padding: 0 3rem 
.review
	margin-left: -2rem
	padding: 3.5rem 3rem 5rem 2rem 
	border-top: 1px solid $border
	+r($md)
		padding: 2rem 0 
		margin-left: 0 
	&:first-child
		border: none
	.iframe
		+r($sm)
			padding-bottom: 70%
	&__top
		+clr
		margin-bottom: 2rem
	&__name
		max-width: 90%
		float: left
		+light
		font-size: 2.4rem
		color: $window
		line-height: 1
		+r($xs)
			font-size: 2rem
	&__text
		font-size: 1.8rem
		line-height: 1.5
		color: $window
		+reg
		+r($xs)
			font-size: 1.6rem
	&__media
		margin-top: 3rem
		+r($xs)
			margin-top: 1rem
		&.is-video
			width: 54rem
			margin: 3rem auto 0
			+r($md)
				width: 100%
		&.is-img
			width: 30rem
			+r($md)
				width: 20rem
			+r($xs)
				width: 15rem
			img
				width: 100%
				height: auto	
	.meta
		float: right
.meta
	font-size: 1.8rem
	+reg
	color: $meta  
	line-height: 1
.cols 
	+clr
	&.is-secondary
		.cols__col35
			padding: 0 6rem  
			+r($lg)
				padding: 0	
	&.is-third
		display: flex
		+r($sm)
			display: block
		.cols__col20
			order: 1
		.cols__col50
			order: 2
			+r($sm)
				display: block
				clear: both
				padding-top: 3rem
				 
		.cols__col30
			order: 3
			+r($sm)	
				order: 2
	&__col
		width: 25%
		padding: 0 1rem 
		float: left
		+r($sm)
			width: 33.3%
		+r($xxs)
			width: 50%
	&__col35
		width: 35%
		float: left
		+r($xs)
			float: none
			width: 100%
			padding: 0 8rem !important
		+r($xxs)
			padding: 0 0 !important
	&__col55
		float: left
		width: 55%
		padding: 0 1rem
		+r($lg)
			padding: 0 2rem
		+r($xs)
			float: none
			width: 100%
			padding: 1rem 0 
	&__col20
		float: left
		width: 20%
		+r($sm)
			width: 50%
			padding: 0 1rem 
		+r($xxs)
			width: 100%
			
	&__col50
		float: left
		padding: 0 2rem 0 4rem 
		width: 50%
		+r($lg)
			padding: 0 2rem 
		+r($sm)
			float: none
			width: 100%
	&__col30
		float: left
		width: 30%
		+r($sm)
			width: 50%
			padding: 0 1rem
		+r($xxs)
			width: 100%
			
.material
	display: block
	text-align: center
	margin-bottom: 3rem
	&:hover
		.material__name
			border-color: $window
		.material__media
			border-color: darken($main, 10%)
			+shadow-box
	&__name
		color: $window
		text-align: center
		+light
		font-size: 1.8rem
		border-bottom: 1px solid transparent
		transition: border-color .3s 
		line-height: 1 
		+r($xs)
			font-size: 1.4rem
	&__media
		margin-top: 1.3rem
		height: 13rem
		display: block
		width: 100%
		overflow: hidden
		border: 1px solid $main
		transition: border-color,box-shadow, .3s
		img
			width: 100%
			height: auto
.photo
	width: 100%
	margin: 1.5rem 0 
	img
		width: 100%
		height: auto
		border: 1px solid $main
.pass
	margin: 8rem 0 3rem 0 
	text-align: center
	+r($sm)
		margin-top: 5rem
	+r($xs)
		margin-top: 2rem
	p
		font-size: 1.8rem
		margin-top: 1.5rem 
		+r($xs)
			display: inline-block
	.link
		color: $main
		line-height: 1
		border-color: $main 
		+r($xs)
			display: inline-block
			margin-left: 1rem
		&:hover
			border-color: transparent 
		 

.input-set
	position: relative
	margin-bottom: 1.5rem
	width: 100%
	height: 3rem 
	input
		width: 100%
		border-bottom: 1px solid $border
		height: 100%
		padding-left: 28%
		padding-right: 5rem 
		+light
		font-size: 1.4rem
		color: $text 
		+r($md)
			padding-left: 32%
		+r($sm)
			padding-left: 37%
	&__text
		position: absolute
		left: 0
		bottom: .8rem
		font-size: 1.4rem
		line-height: 1
		+bold
		color: $text   
	&__btn
		position: absolute
		right: 2rem 
		bottom: 0.8rem
		background: none 
		i
			font-size: 2.1rem
			color: $border 
			transition: color .3s
		&:hover
			i
				color: darken($border,10%) 
.userinfo
	margin-top: 1rem
	+clr
	span
		float: left
		color: $third
		+bold
		line-height: 1
		font-size: 1.8rem
		display: inline-block
		+r($lg)
			float: none
			display: block
		&:last-child
			float: right
			+r($lg)
				float: none
				display: block
.income
	margin-top: 7rem
	+r($sm)
		margin-top: 3rem
	&__wrap
		+clr
	&__title
		float: left
		color: $text
		font-size: 2.4rem
		line-height: 1
		+reg
		+r($sm)
			font-size: 1.8rem
	&__cur
		float: right
		.drop
			padding: 0
		.drop__title
			color: $third
			+reg
	&__money
		font-size: 2.4rem
		+bold
		color: $third 
		+r($sm)
			font-size: 1.8rem
	&__bottom
		margin-top: 6rem
		border-top: 1px solid $border 
		padding-top: 1rem
		color: $text
		font-size: 1.8rem 
		line-height: 1.4
		+r($sm)
			margin-top: 3rem
			font-size: 1.6rem
.card
	margin-bottom: 2rem
	width: 100%
	&_secondary
		.card__top
			padding: .4rem .8rem 
			line-height: 1
		.card__name
			display: inline-block
			+r($sm)
				display: block
				text-align: center
			+r($xxs)
				text-align: left
				padding-left: 20%
			i
				font-size: 2rem
				vertical-align: middle
			span
				display: inline-block
				font-size: 1.8rem
				vertical-align: middle
				+r($lg)
					font-size: 1.6rem
		.card__cur
			padding-left: 4rem
			display: inline-block
			+r($lg)
				padding-left: 0
			+r($sm)
				display: block
				padding: 1rem 0 1rem 30%
			+r($xs)
				padding: 1rem 0 1rem 20% 
			li
				margin-left: 3.5rem
				margin-top: 0
				display: inline-block
				font-size: 1.8rem
				+r($lg)
					font-size: 1.6rem
					margin-left: 1.5rem
				+r($sm)
					display: block
					margin: .5rem 0 0 0
				span
					margin-left: 0 
			.icon-euro
				font-size: 1.7rem
				+r($lg)
					font-size: 1.5rem
	&.is-third
		+r($sm)
			margin-top: 8rem
		+r($xxs)
			margin-top: 2rem
	&__top
		padding-bottom: 1.5rem 
		background: $third
		+shadow-box 
		+r($lg)
			padding-top: 1rem 
	&__name
		text-align: center
		+r($sm)
			padding-left: 2rem
			text-align: left
		i
			font-size: 2.1rem
			color: #FFF
		span
			font-size: 2.4rem
			+bold
			text-transform: capitalize  
			color: #FFF 
			+r($lg)
			font-size: 2rem
	&__cur
		padding-left: 5.5rem 
		+r($lg)
			padding-left: 2rem
			
		li
			margin-top: 1rem
			font-size: 2.4rem
			color: #FFF 
			+bold
			line-height: 1 
			+r($sm)
				font-size: 1.8rem
			&:first-child
				margin-top: 0
			i
				vertical-align: middle
			span
				display: inline-block
				vertical-align: middle
				margin-left: 2rem
				+r($lg)
					margin-left: 1rem
			.icon-euro
				font-size: 2rem
				+r($sm)
					font-size: 1.9rem
	&__cur-wrap
		width: 2rem
		text-align: center
		display: inline-block
	&__bottom
		padding: 1.8rem 1rem 1.4rem 1.9rem 
		background: $main
		+shadow-box
		color: #fff 
	&__more
		border-top: 1px solid #7fa8be
		padding: .5rem 0 0
		margin-top: 0.5rem
		color: #fff
		text-align: center
		a
			color: #fff
			text-decoration: underline 
			&:hover
				text-decoration: none
	&__info
		font-size: 1.4rem 
		color: #FFF
		+reg 
		letter-spacing: 0
		line-height: 1
		li
			margin-bottom: 1rem
			+clr
		i
			font-size: 1.6rem
			float: left
			margin-right: 0.5rem
		span
			overflow: hidden
.btn-plus
	display: block
	padding: .3rem .5rem
	width: 100%
	border: 2px solid $main
	text-align: center
	color: $main 
	line-height: 1
	+clr
	background: none
	i
		margin-right: 2rem
		vertical-align: middle
		font-size: 2.4rem
		+r($lg)
			margin-right: 1rem
	span
		vertical-align: middle
		+bold
		text-transform: capitalize 
		font-size: 1.8rem
		+r($lg)
			font-size: 1.4rem
	&_small
		display: inline-block
		width: auto
		padding: 1rem 1.2rem 
		border-width: 1px
		span
			+reg
			font-size: 1.4rem
			text-transform: none
	&.is-error
		color: $fail
		border-color: $fail  
.team-info
	margin-top: 0.7rem
	+clr
	&:first-child
		margin-top: 1.3rem
	&__part
		float: left
		min-width: 21.3%
		line-height: 1.5
		color: $window
		font-size: 1.4rem
		+reg 
		+r($xs)
			min-width: 50%
		&.is-second
			float: left
			min-width: 32.3%
			border-bottom: 1px solid $border
			+r($xs)
				min-width: 50%
.team
	margin-top: 3.5rem
	padding-right: 8rem
	+reg
	font-size: 1.8rem
	line-height: 1.3
	color: $window
	+r($sm)
		padding-right: 1rem
		font-size: 1.4rem
	&__row
		position: relative
		margin-top: 1.4rem
		+clr
	.drop
		position: absolute
		right: -9rem
		bottom: 0
		+r($sm)
			right: -1rem
			bottom: -1rem
	&__left
		float: left
		+r($lg)
			max-width: 34rem
		+r($sm)
			max-width: 65%
			
	&__right
		float: right
		+r($sm)
			max-width: 34%
			+bold
			 
.search-wrap
	width: 100%
	text-align: right
.search
	&__input
		display: inline-block
		vertical-align: middle
		width: 37.2%
		font-size: 0
		margin-right: .9rem 
		input
			width: 100%
			height: 2rem
			font-size: 1.8rem
			border-bottom: 1px solid $main
			background: transparent
			line-height: 1
			color: #FFF 
			+light
			+placeholder
				color: #444c5c
	&__btn
		display: inline-block
		vertical-align: middle
		padding: .9rem 1.5rem 1rem
		border: 1px solid #fff
		background: transparent 
		font-size: 0
		color: #FFF 
		line-height: 1
		text-align: center
		+light
		transition: background .3s, color .3s, border .3s
		&:hover
			background: #fff
			color: $third 
		&:active
			border-top: 1px solid $third
		span
			position: relative
			display: inline-block
			vertical-align: middle
			margin-left: 1rem
			font-size: 1.8rem
			&:before
				content: $icon-search
				position: absolute
				left: -1.9rem 
				top: 50%
				margin-top: -0.6rem
				+icon
				font-size: 1.2rem 
.btn-pay
	display: inline-block
	margin-left: 2rem 
	border: 1px solid $third
	padding: 1rem 1rem 1.1rem	
	min-width: 15rem
	font-size: 0
	background: $third 
	text-align: center
	+reg
	line-height: 1
	color: #FFF   
	transition: background, color, border, .3s 
	+r($lg)
		margin-left: 0.5%
	+r(1004)
		margin-left: 0.3%
	+r($md)
		margin-left: 0.6%
	+r($sm)
		margin-left: 0
		display: block
		width: 100%
		margin-top: 1rem 
	&:first-child
		margin-left: 0
	span
		font-size: 1.4rem
	&:hover
		border-color: $second
		background: $second 
	&:active
		background: #fff
		color: $third
		border-color: $third
.line
	display: table
	margin-top: 6.5rem 
	width: 100%
	white-space: nowrap
	+r($lg)
		margin: 3rem -2.5rem 0 
	+r($md)
		margin: 3rem 0 0 
	+r($sm)
		display: block
	&__cell
		display: table-cell
		line-height: 1.3
		text-align: center
		+r($sm)
			display: block
			margin-top: 0.5rem
		a
			display: inline-block
			padding: 0 .6rem
			border-bottom: 2px solid transparent
			font-size: 1.4rem
			color: $window
			+reg
			transition: color, .3s
			&:hover
				color: $main
		&.is-active
			a
				color: $main
				border-color: $main 
.period
	&__name
		display: inline-block
		padding: 0 .9rem 
		vertical-align: middle
		color: #fff
		font-size: 1.8rem
		+reg
		+r($xs)
			display: block
	&__part
		display: inline-block
		margin-left: 0.9rem
		+r($xs)
			display: block
			margin-left: 0
			margin-bottom: 1rem
		.period__name
			+r($xs)
				display: inline-block
		input
			display: inline-block
			vertical-align: middle
			border-bottom: 1px solid $main
			background: none
			height: 1.7rem
			width: 13rem
			color: #FFF
			font-size: 1.6rem
			text-align: center
		button
			margin-left: 0.9rem
			background: none
			color: #FFF
			vertical-align: middle
			font-size: 2rem
.income-list
	margin: 5rem 0 2.5rem 0
	+r($sm)
		margin: 1.5rem 0 2rem
	&__item
		margin-bottom: 2.7rem
		+clr
		line-height: 1
		+r($xs)
			margin-bottom: 1.5rem
		+r($xxs)
			margin-bottom: 2rem
		.is-cur
			margin-left: 0
	&__left
		float: left
		min-width: 24rem 
		+bold
		font-size: 1.8rem
		color: $window 
		+r($sm)
			min-width: 50% 
			max-width: 50% 
			font-size: 1.6rem
		+r($xxs)
			float: none
			max-width: 100%
	&__info
		float: left
		margin-left: 6rem
		font-size: 2.4rem
		+reg
		color: $window  
		+r($sm)
			min-width: 50%
			margin-left: 0
			padding: 0 0 0 1rem 
			font-size: 1.8rem
		+r($xxs)
			float: none
			min-width: 100%
			padding: 0
			margin-top: 1rem
	&_secondary
		position: relative
		padding: 2.4rem 0 
		min-width: 30rem 
		+r($sm)
			min-width: 100% 
		&:before,
		&:after
			content: ""
			position: absolute
			left: -1rem
			right: -1rem
			height: 1px
			background: $border
		&:before
			top: 0
		&:after
			bottom: 0
		.income-list__item
			&:last-child
				margin-bottom: 0
		.income-list__left
			+reg
			min-width: 30rem
			+r($sm)
				min-width: 50% !important
		.income-list__info
			font-size: 1.8rem
	&_third
		column-count: 2
		+r($md)
			column-count: 1
		.income-list__left
			+reg
			min-width: 19rem
			+r($sm)
				min-width: 50%
				max-width: 100% 

		.income-list__info
			font-size: 1.8rem
			margin-left: 3rem
			+r($sm)
				margin-left: 0
	&_info
		.income-list__left
			min-width: 10rem
		.is-small
			font-size: 1.4rem
			text-align: left
			margin-left: 0
	&_half
		.income-list__left
			width: 50%
			margin: 0
			padding: 0 1rem 
		.income-list__info
			padding: 0 1rem 
			width: 50%
			font-size: 1.4rem
			margin: 0
.tip
	position: relative
	display: inline-block
	padding: 2rem 1.8rem 2.5rem
	background: #FFF
	+shadow-box  
	&:before,
	&:after
		content: ""
		position: absolute
		+r($md)
			display: none
	&:before
		top: -1rem
		+arr(.9,1.1,#fff,bl)
		z-index: 1
		left: 0
	&:after
		top: -1.1rem
		left: -0.1rem
		+arr(1.1,1.1,#000,bl)
		opacity: .1 
		
	&__in
		margin-top: 1.5rem
	&__close
		position: absolute
		right: 0
		top: 0
		background: none
		font-size: 1.6rem
		width: 2.8rem
		height: 2.8rem
		line-height: 1
		color: #307296 
	.subtitle
		color: $window 
	.checkbox
		margin-bottom: 3rem
		&:last-child
			margin-bottom: 0
		input
			position: absolute
			opacity: 0
			&:checked
				+ span
					color: $main
					i
						border-color: $main
						&:before
							display: block
	.checkbox__text
		padding-left: 1.7rem
		i
			top: 0
			left: 0
			width: 1.2rem
			height: 1.2rem 
			&:before
				left: 1px!important
				top: 2px !important
				font-size: 6px !important

.tip-parent
	position: relative
	&.is-active
		.tip
			opacity: 1
			visibility: visible
	.tip
		position: absolute
		bottom: 100%
		right: 100%
		margin-right: -1rem
		width: 37rem
		z-index: 5
		opacity: 0
		visibility: hidden
		&:before
			bottom: -1rem
			top: auto
			left: auto
			+arr(.9,1.1,#fff,tr)
			z-index: 1
			right: 0
		&:after
			bottom: -1.1rem
			top: auto
			left: auto
			right: -0.1rem
			+arr(1.1,1.1,#000,tr)
			opacity: .1 
.checkbox
	position: relative
	display: block
	cursor: pointer
	text-align: left
	margin-bottom: 1.8rem
	&:hover
		.checkbox__text
			color: darken($window, 10%)
			i
				border-color: darken($border,15%)
	&__text
		display: block
		position: relative
		padding-left: 2.1rem
		color: $window
		font-size: 1.4rem
		transition: color .3s 
		+nosel
		+reg
		+r($lg)
			padding-left: 2.6rem 
		i
			position: absolute
			left: -.5rem
			top: -.2rem 
			width: 2rem
			height: 2rem
			background: #fff
			border: 1px solid $border
			transition: border-color .3s
			+r($lg)
				left: 0
			&:before
				display: none
				content: $icon-check
				position: absolute
				left: .2rem
				top: 0.3rem
				font-size: 1.2rem
				+icon
				color: $main
	input
		position: absolute
		opacity: 0
		&:checked
			+ span
				i
					&:before
						display: block
.link-table
	color: #fff
	font-size: 1.4rem
	+reg  	
	text-decoration: underline 	
	&:hover
		text-decoration: none
.name
	+clr
	font-size: 1.8rem
	color: $window
	+bold  
	+r($xs)
		font-size: 1.6rem
	span
		float: left
		+r($xs)
			float: none
	p
		float: right
		+r($xs)
			float: none

.canvas-wrap
	margin: 0 -8rem -3.5rem		
	+r($lg)
		margin: 0 -3.5rem -3.5rem  
	+r($sm)
		margin: 0 -2rem -2rem 
.canvas
	min-width: 100rem
	padding-top: 1rem
	background: $second
	canvas
		width: 100% !important
		height: auto !important
	&__title
		margin: 1rem 0 2rem 8rem 
		color: #fff
		font-size: 1.8rem
		.drop
			display: inline-block
			margin-left: 3rem
.table-list-wrap
	margin: 2rem 0	 
	&_head
		margin-left: 1rem
.table-list
	background: $second
	color: #fff
	+reg  
	min-width: 87rem
	text-align: center
	.table-list__line
		font-size: 0
	> .table-list__line
		&:nth-child(2n)
			> .table-list__cell
				background: rgba(#fff,.1) 
	&__cell
		display: inline-block
		vertical-align: middle
		padding: 1rem .5rem
		font-size: 1.4rem
		min-height: 5.5rem
		&:first-child
			padding-left: 2.5rem
	&__extend
		display: none
		&.is-active
			display: block
		.table-list__cell
			&:first-child
				padding-left: 3.5rem
		.table-list__extend
			.table-list__cell
				&:first-child
					padding-left: 4.5rem
	.btn-link
		font-size: 1.4rem
		padding: .7rem 1rem
	.btn-extend
		padding: 1rem 
		margin: 0 -1rem 
		float: right
		background: none
		color: #fff 
		&.is-active
			i
				&:before
					content: $icon-minus 
@for $i from 1 through 10
	.table-list__line
		&[data-cells="#{$i}"]
			.table-list__cell
				width: 100% / $i
		&[data-cells="7"]
			.table-list__cell
				&:first-child
					width: 15.3%
					text-align: left
				&:last-child
					width: 17.3%
				&:nth-child(3)
					width: 10%
.wrap-left
	+r($sm)
		float: left
		width: 50%
	+r($xxs)
		float: none
		width: 100%
.point-wrap
	background: $second
	width: 100%
	padding-bottom: 3.5rem 
	min-width: 61rem
	.btn-point
		margin: 2rem 0 0 10% 
.point
	width: 100%
	color: $border
	line-height: 1
	+light
	margin:  0 0 .8rem
	&:nth-child(2n+1)
		background: rgba(#FFF, .1) 
	&.is-inactive
		.point__col1
			display: none
	&.is-main
		+bold
		.i-star
			&:before
				content: $icon-gold_star
				color: #ffbd0c 
	&.is-deleted
		display: none
	&.is-active
		margin-bottom: 0
		.point__text
			visibility: visible
			display: block
	&_head
		font-size: 1.8rem
		+reg 
		background: none !important 
	&__row
		
		padding: 1.4rem 4rem 1.4rem 1rem 
		+clr
	&__col1
		position: absolute
		left: 0
		top: 0
		bottom: 0
	&__left
		float: left
		position: relative
		padding: 0 1rem 0 20.5%
	&__right
		float: right
		padding: 0 1rem
		width: 15%
		text-align: center
		+r($sm)
			width: 17% 
	&__btn
		padding: 0 .4rem 
		display: inline-block
		font-size: 0
		color: $border
		background: none 
	&__text
		visibility: hidden
		display: none
		padding: 1rem 6rem 1rem 20.5%
		width: 100%
		background: $second-hover 
		textarea
			border: 1px solid $border
			background: transparent
			+bold
			width: 100%
			padding: .5rem 1rem 1rem
			color: $border
			resize: none 
			font-size: 1.4rem  
			height: 12rem
		
	.icon-mark_unacept
		font-size: 1.7rem
	.icon-mark_done
		font-size: 1.7rem
	.i-star
		&:before
			content: $icon-star
			+icon
			font-size: 1.6rem 
	.icon-pen
		font-size: 1.6rem
.btn-point
	font-size: 1.4rem
	color: #FFF
	line-height: 1.6
	+light
	border-bottom: 1px solid #fff
	background: none
	transition: border-color .3s
	&:hover
		border-color: transparent 
	i
		font-size: 1.6rem
		vertical-align: middle
	span
		display: inline-block
		vertical-align: middle

		 
.marger
	margin-right: -110px
	+r(1336)
		margin-right: -80px
	+r(1260)
		margin-right: -50px
	+r(1200)
		margin-right: 0

