.promo
	position: relative
	z-index: 1
	color: #fff 
	&__img
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		img
			width: 100%
			height: 100%
			object-fit: cover
			display: block
	&__info
		padding: 15.5% 0 0 14rem
		+r(1400)
			padding-top: 12%
		+r($sm)
			padding-left: 10px
			padding-right: 10px
		> img
			margin-left: -11.3rem
			transform: translateX(-200%)
			opacity: 0
			transition: transform, opacity, .3s .2s linear
			+r(1400)
				margin-left: -7.3rem
				width: 30%
			+r($sm)
				display: none
	&__title
		margin: 4% 0 0 
		font-size: 3.6rem
		transform: translateX(200%)
		opacity: 0
		transition: transform, opacity, .4s .5s linear
		+r(1400)
			margin-top: 2%
			font-size: 3rem
	&__text
		position: relative
		margin-bottom: 3rem
		max-width: 85%
		font-size: 1.8rem
		line-height: 1.6
		transform: translateX(200%)
		opacity: 0
		transition: transform, opacity, .4s .5s linear
		+r(1400)
			font-size: 1.6rem
		+r($sm)
			font-size: 1.4rem
			max-width: 100%
		+r($xs)
			font-size: 1.2rem
			
		&:before
			content: ""
			position: absolute
			left: -8rem
			top: 2.5rem
			width: 2rem
			height: 2px
			background: #fff  
	&__link
		transform: translateY(200%)
		opacity: 0
		transition: transform, opacity, .4s 1s linear
	&__section
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		z-index: 2
		overflow: hidden
	.title
		margin: 3.5% 0 6.5% -5%
		color: #fff 
		+r(1200)
			margin-top: 1.5%
		+r(768)
			margin-left: 0
			margin-top: 3rem
		&:after
			background: #fff 
	.link	
		+r($sm)
			margin-bottom: 3rem
	.container-fluid
		position: relative
		z-index: 2
	.slick-slide
		position: relative
		padding-bottom: 9rem
		height: 90vh
		min-height: 80rem
		+r(1400)
			min-height: 60rem
		img
			min-height: 100%
	.slick-current
		.promo__info
			> img
				transform: translateX(0)
				opacity: 1
		.promo__title,
		.promo__text
			opacity: 1
			transform: translateX(0)
		.promo__link
			transform: translateY(0)
			opacity: 1
	.slick-arrow
		position: absolute
		top: 0
		height: 100%
		width: 20%
		z-index: 2
		+hide-text
		opacity: 0
		background: none
		+r(1400)
			width: 15%
		+r(768)
			width: 20px
	.slick-prev
		left: 0
	.slick-next
		right: 0
	.slick-dots
		position: absolute
		bottom: 7.3rem
		right: 0
		left: 0
		text-align: center
		+r(1400)
			bottom: 4rem
		li
			display: inline-block
			vertical-align: middle
			padding: 1rem 
			cursor: pointer
		button
			display: block
			border: 1px solid rgba(#fff,.5)
			width: 16px
			height: 16px
			+hide-text
			+circle
			background: none
			position: relative
			&:before
				content: ""
				position: absolute
				top: 50%
				left: 50%
				margin-left: -6px
				margin-top: -6px
				width: 12px
				height: 12px
				+circle
				background: none
				+tr(background .3s)
		.slick-active
			button
				&:before
					background: #fff 
.btn-down
	position: absolute
	bottom: -4.5rem
	left: 50%
	z-index: 3
	margin-left: -4.5rem
	width: 9rem
	height: 9rem
	+circle		
	background: #fff
	font-size: 2rem
	box-shadow: 0 4px 4px rgba(#000,.6) 
	color: rgba(#000,.4) 
	transition: color, box-shadow, .3s
	&:hover
		box-shadow: 0 2px 2px rgba(#000,.6)
		color: rgba(#000,.8) 
	+r(1400)
		width: 6rem
		height: 6rem
		bottom: -3rem
		margin-left: -3rem	 
		font-size: 1rem
	+r($xs)
		display: none
	i
		vertical-align: middle
.video-scroller
	white-space: nowrap
	padding: 4.5% 0 
	font-size: 0
.video
	position: relative
	display: inline-block
	margin: 0 1.5rem
	vertical-align: top
	padding: 17.8% 0 
	width: 69%
	+r($xs)
		padding: 22% 0
		width: 78% 
	iframe
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
.about
	&__img
		position: relative
		font-size: 0
		img
			display: inline-block
			vertical-align: middle
			margin: 0 4rem 0 2rem 
			+r($sm)
				width: 10rem
				height: auto
				margin: 0 1.5rem 0 0  
		&:after,
		&:before
			content: ""
			display: inline-block
			font-size: 0
			height: 20rem
			width: 2rem
			border: 2px solid #fff
			vertical-align: middle
			+r($sm)
				height: 15rem
		&:before
			border-right: none
		&:after
			border-left: none
	.subtitle
		line-height: 1
		margin-bottom: 1.5rem
		+r($xxs)
			margin-top: 2rem
	p
		line-height: 1.5
	i
		+icon
		color: #FFF
	.icon-safe
		font-size: 20rem
		+r($sm)
			font-size: 17rem 
			 
.block
	padding: 5rem 0 7rem 
	+r($md)
		padding: 4rem 0 5rem 
	+r($sm)
		padding: 4rem 2rem
	+r($xs)
		padding: 2rem 0
	&_under
		margin-top: 7.5rem
		+r($sm)
			margin-top: 4rem
		+r($xs)
			margin-top: 2rem
	&_shadow
		box-shadow: 0 6px 6px rgba(#000,.23)
	&_secondary
		background: $main
		color: #fff  
		.subtitle
			color: #FFF
		.text
			color: #FFF 
	&_third
		background: $light 
	&_lk
		padding: 7rem 0 0 0 
		background: $light  
		+r($sm)
			padding-top: 4rem
	.article
		margin-top: 0
		padding: 0
	.box
		+r($xs)
			padding-left: 1rem
			padding-right: 1rem
.list
	margin-top: 1rem
	li
		padding-left: 5rem
		position: relative
		font-size: 1.4rem
		margin-bottom: 3.5rem
		+r($sm)
			padding-left: 3rem
		&:last-child
			margin-bottom: 0 
		&:before
			content: ""
			position: absolute
			left: 0
			top: 0.8rem
			height: 1rem
			width: 1rem
			border-radius: 50%
			background: #FFF 
.list-ol
	list-style-type: decimal
	margin-top: 2.2rem
	li
		margin-left: 1.5rem
		font-size: 1.8rem
.list-ul
	margin-top: 3rem
	font-size: 1.8rem
	li
		&:before
			content: "-"
			display: inline-block
			vertical-align: middle

.subtitle
	color: $text
	font-size: 2.4rem
	+reg 
	+r($sm)
		font-size: 2rem
	+r($xs)
		font-size: 1.8rem
	&_marg
		margin: 6rem 0 4.5rem
		+r($md)
			margin: 2.5rem 0 2.5rem 
	&_uppercase
		text-transform: uppercase 
		margin: 0 0 4.5rem 
		+r($md)
			margin-bottom: 1.5rem
	&_light
		+light

	&.is-center
		text-align: center
.marked
	+bold
.box
	padding: 3rem 2.7rem 0
	box-shadow: 0px 0 4px rgba(#000, .23)
	text-align: center
	line-height: 1.5
	&:hover
		[class^="icon"]
			transform: rotateZ(360deg)
	+r($sm)
		padding: 1.5rem 2rem 0 
		margin-bottom: 1.5rem
	+r($xs)
		padding: 1.5rem 0 
	&__text
		min-height: 20rem 
		padding-bottom: 1.5rem
		+r($sm)
			min-height: auto
			 
	&__title
		+reg
		font-size: 1.8rem
		+r($md)
			font-size: 1.6rem

	[class^="icon"]
		display: inline-block
		vertical-align: middle
		margin: 5.7rem 0 3.7rem 
		font-size: 10rem
		+tr(transform .3s)
		+r($md)
			font-size: 7rem
			margin: 3rem 0 1.5rem 
	.icon-cup
		color: #EFBA2B 
	.icon-rocket
		color: #d24a4a
	.icon-pen_line,
	.icon-gradueter,
	.icon-umbrella 
		color: $main 
	.icon-rank1
		font-size: 16.8rem
		color: $text
		+r($sm)
			font-size: 13rem
	.icon-rank2
		font-size: 16.8rem
		color: $main
		+r($sm)
			font-size: 13rem
	.icon-rank3
		font-size: 16.8rem
		color: #ffbe0e 
		+r($sm)
			font-size: 13rem
	&_secondary
		.box__text
			min-height: 10rem
			+r($sm)
				min-height: auto
				margin-top: 1rem
.post
	padding: .8rem 1rem 2rem
	box-shadow: 0px 0 4px rgba(#000, .23) 
	background: #FFF 
	width: 29%
	float: left
	margin-left: 6.5%
	+r($sm)
		width: 32%
		margin-left: 1.9%
	+r($xxs)
		width: 100%
		margin-left: 0
		margin-bottom: 1.5rem
	&:first-child
		margin-left: 0
	&__img
		width: 100%
		height: 23rem
		overflow: hidden
		font-size: 0
		+r($md)
			height: 18rem
		+r($sm)
			height: auto
		+r($xxs)
			height: 12rem
		img
			width: 100%
			height: auto
	&__info
		+clr
		margin-top: 0.6rem
		.text
			float: left
			line-height: 1.3
			max-width: 49.9%
			+r($md)
				float: none
				max-width: 100% 
		.link
			float: right
			max-width: 49.8%
			+r($md)
				max-width: 100% 
				margin-top: 1rem
	&_big
		padding: .4rem 6rem .4rem .6rem 
		float: none
		margin-left: 0
		+clr
		width: 100%
		+r($lg)
			padding: .6rem 3rem 1.5rem .6rem
		+r($sm)
			padding: 2rem  
		+r($xs)
			padding: 1.5rem

		.post__img
			float: left
			margin-right: 2.7rem
			width: 50% 
			height: 41.3rem
			+r($sm)
				margin-bottom: 1rem
				float: none
				width: 100%
				margin-right: 0
				height: 26rem
				overflow: hidden
			+r($xxs)
				height: 15rem
			img
				height: 100%
				width: auto
				+r($sm)
					width: 100%
					height: auto
		.post__info
			overflow: hidden
		.text
			float: none
			max-width: 100%
			clear: both
			letter-spacing: .5px
		.link
			float: right
			margin-top: 1.5rem
		
			
.link
	display: inline-block
	line-height: 1.3	
	span
		color: $main 
		border-bottom: 1px solid $main
		transition: border-color, color, .3s
		display: inline
		font-size: 1.8rem
		+r($sm)
			font-size: 1.6rem
	&:hover
		span
			border-color: transparent
	&:active
		span
			border-color: transparent
			color: darken($main,10%) 
.post-wrap
	+clr
	margin-top: 6rem
	+r($sm)
		margin-top: 3rem
.crsl-info	
	padding: 3rem 8rem 5.5rem
	position: relative
	+r($md)
		padding: 3rem 8rem  
	+r($xs)
		padding: 1rem 0 3rem 
	&__in
		+clr
	&__img
		overflow: hidden
		float: left
		+circle
		height: 16rem
		width: 16rem
		margin-right: 6rem 
		+r($md)
			margin-right: 3rem
		+r($sm)
			margin-bottom: 1rem
		+r($xs)
			margin-right: 1.5rem
		+r($xxs)
			float: none
			margin: 0 auto 1rem 
		img
			width: 100%
			height: auto  
	&__text	
		overflow: hidden
		+r($sm)
			overflow: visible
			
	.subtitle
		line-height: 1
		margin-bottom: 2.5rem 
		+r($sm)
			margin-bottom: 1rem
		+r($xxs)
			text-align: center
	.slick-prev,
	.slick-next
		+hidetext
		+icon
		background: none
		top: 8rem
		bottom: auto 
		position: absolute 
		&:before
			content: $icon-down
			font-size: 2rem
			color: #fff
			opacity: .4
			transition: opacity, left, right, .3s
			+r($xs)
				font-size: 1.7rem
		&:hover
			&:before
				opacity: 1


	.slick-prev
		left: -2rem
		transform: rotate(90deg)
		+r($xs)
			left: -2.7rem
		&:active
			&:before
				opacity: 1
				left: -2.5rem 
				+r($xs)
					left: -3rem
	.slick-next
		right: -2rem
		left: auto
		transform: rotate(-90deg)
		+r($xs)
			right: -2.7rem
		&:active
			&:before
				opacity: 1
				right: -2.5rem
				+r($xs)
					right: -3rem
	.slick-dots
		text-align: center
		line-height: 0
		position: absolute
		right: 0
		left: 0
		bottom: 0
		li
			display: inline-block
			font-size: 0 
			padding: 0 1.5rem 
		button
			display: block
			background: transparent
			border: 1px solid #fff
			+hidetext
			border-radius: 50%
			width: 1.4rem
			height: 1.4rem
			position: relative
			&:before
				content: ""
				position: absolute
				height: 1rem
				width: 1rem
				background: transparent
				+circle
				top: 50%
				left: 50%
				margin-top: -0.5rem 
				margin-left: -0.5rem 
				transition: background .3s 
	.slick-active
		button
			&:before
				background: #FFF 
.feedback
	height: 53rem
	position: relative
	background: $third 
	+clr	
	+r($sm)
		height: auto
	.subtitle
		+r($sm)
			margin-bottom: 2rem
	&__right
		width: 50%
		float: left
		position: relative
		height: 100%
		background: #FFF
		+clr 
		padding: 6.7rem 9rem 0 0 
		+r($lg)
			padding: 6.7rem 5rem 0 0 
		+r($md)
			padding-right: 4rem
		+r($sm)
			padding: 5rem 4rem 5rem 2rem 
		+r($xs)
			float: none
			width: 100%
			padding: 3rem 1rem
			
		&:after
			content: ""
			position: absolute
			right: -6.9rem
			top: 0
			+arr(7,53,#fff,r)
			+r($sm)
				display: none
	&__wrap
		float: right
		width: 50%
		+r($lg)
			width: 60%
		+r($md)
			width: 80%
		+r($sm)
			width: 100%
		+r($xs)
			float: none
	&__contacts
		float: left
		width: 50%
		height: 100%
		background: $third
		color: #fff
		padding: 6.7rem 1rem 0rem 17rem
		+r($lg)
			padding-left: 15rem
		+r($md)
			padding: 5rem 2rem 0 12rem
		+r($sm)
			padding: 5rem 2rem 5rem 4rem
		+r($xs)
			float: none
			width: 100%
			padding: 3rem 1rem
		.subtitle
			color: #FFF 
.contacts
	color: #FFF
	font-size: 1.8rem
	+r($sm)
		font-size: 1.6rem
	+r($xs)
		font-size: 1.4rem
	li
		margin-top: 3.5rem
	&__light
		+light
	&__reg
		+reg
	a
		color: #FFF
		border-bottom: 1px solid transparent
		line-height: 1
		transition: border-color .3s
		&:hover
			border-color: #fff
.captcha
	img
		display: block
		max-width: 100%
.input
	position: relative
	width: 100%
	margin-bottom: 2.3rem 
	input
		width: 100%
		display: block
		height: 2.6rem
		border-bottom: 1px solid $main
		color: $text
		transition: border-color .3s
		font-size: 1.8rem
		padding: 0 1rem 
		+reg
		background: none 
		+placeholder
			color: #c8c9ca	
		&:focus
			border-color: darken($main, 15%)
	&_white
		input
			height: 3.2rem
			color: #fff
			border-bottom: 2px solid #fff
			&:focus
				border-color: #fff
	&_pass
		input
			&:last-child
				position: absolute
				left: 100%
				top: 0
				margin-left: 20px
.textarea
	width: 100%
	font-size: 0
	margin: 3rem 0 5rem
	+r($xs)
		margin: 2rem 0 
	textarea
		width: 100%
		height: 13rem
		padding: 1rem
		font-size: 1.8rem
		line-height: 1.1
		+reg
		resize: none
		border: 1px solid $main
		transition: border-color .3s
		color: #c8c9ca	
		&:focus
			border-color: darken($main, 15%)
			color: $text
.btn
	display: inline-block
	padding: 1.2rem 2rem 1rem
	line-height: 1
	border: 1px solid $main
	color: $main
	text-transform: uppercase
	+light
	line-height: 1
	font-size: 1.8rem
	background: transparent 
	transition: color, background, .3s
	+r($lg)
		font-size: 1.6rem
		padding: 1.2rem 1.5rem 1rem 
	&:hover
		background: $main
		color: #fff  
	&.is-fluid
		display: block
		width: 100%
.form-login
	.btn-link
		margin: 2.2rem 0 2rem
.soc-enter
	.btn-link
		display: block
		margin-bottom: 2.9rem
		position: relative
		padding-left: 5.5rem
		width: 100%
		text-align: left
		font-size: 1.8rem
		span
			position: absolute
			left: 0
			top: 0
			bottom: 0
			width: 5.5rem
			+vertical
			i
				vertical-align: middle
				font-size: 2rem