.popup
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 20
	padding: 20px 
	+vertical
	overflow-y: auto
	opacity: 0
	visibility: hidden
	&_med
		.popup__window
			width: 70rem
			padding: 1rem 3rem 
			+r($lg)
				width: 100%
	&.is-active
		opacity: 1
		visibility: visible
	&__overlay
		position: fixed
		right: 0
		top: 0
		bottom: 0
		left: 0
		z-index: 21
		background: rgba(#000,.2)
	&__window
		position: relative
		z-index: 22
		display: inline-block
		vertical-align: middle
		padding: 1rem 6rem 
		width: 1100px
		background: #fff 
		text-align: left
		font-size: 1.8rem
		color: $text 
		+r($lg)
			padding: 2rem 
			width: 100%
			font-size: 1.4rem
			
	&__header
		text-align: center
		padding-bottom: 0.8rem
	&__title
		font-size: 2.4rem
		+r($sm)
			font-size: 2rem
		+r($xs)
			font-size: 1.8rem
	&__subtitle
		margin-bottom: 1rem
		font-size: 1.8rem
		+r($sm)
			font-size: 1.6rem
		+r($xs)
			font-size: 1.4rem
	&__text
		font-size: 1.4rem
		line-height: 1.9
		+r($sm)
			font-size: 1.2rem
		p
			margin-bottom: 3rem
			+r($xs)
				margin-bottom: 1rem
	&__scroll
		border-top: 2px solid #adb6ba 
		border-bottom: 2px solid #adb6ba
		padding: 20px  
		max-height: 450px
		+r($sm)
			max-height: 200px
	&__footer
		text-align: center
		padding: 2rem 0 1rem
	&__body
		padding-bottom: 3rem
	.btn-close
		position: absolute
		right: 0
		top: 0
	.rank-slider
		padding: 5rem 0 6rem
		+r($xs)
			padding: 2rem 0 0
		.slick-dots
			top: 1rem
			left: -4%
			right: -4%
			&:before
				left: 4%
				right: 4%
.popup_main
	.popup__window
		background: $main 
		color: #fff 
	.btn-close
		color: #fff
		&:hover
			color: #fff 
.btn-close
	display: inline-block
	background: none
	width: 3.6rem
	height: 3.6rem
	font-size: 2rem
	color: $text
	&:hover
		color: $main
	i
		vertical-align: middle
.cash
	margin-bottom: 5rem
	+r($sm)
		margin: 0 0 2rem
	&_payment
		margin: 5rem 0 0 
		+r($sm)
			margin: 2rem 0 
	&__sum
		margin-top: 1rem
		border-top: 1px solid $border
		display: table
		width: 100%
		table-layout: fixed
		font-size: 1.4rem
		> span
			display: table-cell
			padding: 1rem 
			vertical-align: top
			+r($sm)
				display: block
	&__payment
		max-width: 100%
		overflow-x: auto
		overflow-y: hidden
.cash-require
	margin-bottom: 2rem
	.drop
		top: -4px
.error-message
	margin-top: 2rem
	color: $fail
	font-size: 1.4rem 