$main: #307296
$second: #2f384a
$second-hover: #2a3242
$third: #0b3c5d
$text: #575a5b
$light: #eaf1f4
$footer: #85898a
$border: #e3e3e4
$sidebar: #9cb4c1
$window: #67696a
$meta: #c8c9ca
$lg: 1200
$md: 992
$sm: 768
$xs: 630
$xxs: 452
$fail: #f00
=table-line
	&:first-child
		&:before
			content: ""
			position: absolute
			left: -1000px
			width: 1000px
			top: 0
			bottom: 0
			background: rgba(#fff,.1)
	&:last-child
		&:before
			content: ""
			position: absolute
			right: -1000px
			width: 1000px
			top: 0
			bottom: 0
			background: rgba(#fff,.1)
=box-shadow
	box-shadow: 0 6px 6px rgba(#000,.23)
=shadow-small
	box-shadow: 1px 0 2px rgba(#000, .23)
=shadow-box
	box-shadow: 0px 0 4px rgba(#000, .23)
=icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
=circle	
	border-radius: 50% 
+font(helveticaneuecyr-bold, helveticaneuecyr-bold)
=bold
	font-family: "helveticaneuecyr-bold", Arial, sans-serif
	
+font(helveticaneuecyr-roman, helveticaneuecyr-roman)
=reg
	font-family: "helveticaneuecyr-roman", Arial, sans-serif
	
+font(helveticaneuecyr-light, helveticaneuecyr-light)
=light
	font-family: "helveticaneuecyr-light", Arial, sans-serif
	
=tahoma
	font-family: Tahoma, Arial, sans-serif