$icons: (0:0)
$icons: map-merge($icons,(fb: (X: 0px, Y:0px, W: 30px, H: 30px, TW: 64px, TH: 64px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(od: (X: -34px, Y:0px, W: 30px, H: 30px, TW: 64px, TH: 64px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(vk: (X: 0px, Y:-34px, W: 30px, H: 30px, TW: 64px, TH: 64px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(yt: (X: -34px, Y:-34px, W: 30px, H: 30px, TW: 64px, TH: 64px, IMG: '../img/icons.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
	$icon: map-get($icons, $icon)
	@return map-get($icon, $attr)

@mixin sprite($iconName)
	background-image: url(icon-attr($iconName, IMG))
	width: icon-attr($iconName, W)
	height: icon-attr($iconName, H)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
	background-image: url(icon-attr($iconName, IMG))
	$width: icon-attr($iconName, W)
	$height: icon-attr($iconName, H)
	width: $width/2
	height: $height/2
	$x: icon-attr($iconName, X)
	$y: icon-attr($iconName, Y)
	background-position: $x/2 $y/2
	$tw: icon-attr($iconName, TW) 	
	$th: icon-attr($iconName, TH)
	background-size: $tw/2 $th/2  	


@mixin s($i)
	+sprite($i)
@mixin sp($i)
	+sprite-position($i)
@mixin sr($i)
	+sprite-retina($i)	

.i-icon-fb
	width: 30px
	height: 30px
	background-image: url('../img/icons.png')
	background-position: 0px 0px
.i-icon-od
	width: 30px
	height: 30px
	background-image: url('../img/icons.png')
	background-position: -34px 0px
.i-icon-vk
	width: 30px
	height: 30px
	background-image: url('../img/icons.png')
	background-position: 0px -34px
.i-icon-yt
	width: 30px
	height: 30px
	background-image: url('../img/icons.png')
	background-position: -34px -34px
