@font-face
	font-family: "svgfont"
	src: url('fonts/svgfont.eot')
	src: url('fonts/svgfont.eot?#iefix') format('eot'), url('fonts/svgfont.woff') format('woff'), url('fonts/svgfont.woff2') format('woff2'), url('fonts/svgfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

$icon-corner-l: "\EA01"
$icon-corner-r: "\EA02"
$icon-caret-d: "\EA03"
$icon-down: "\EA04"
$icon-blank: "\EA05"
$icon-circle: "\EA06"
$icon-circleprocent: "\EA07"
$icon-cup: "\EA08"
$icon-gradueter: "\EA09"
$icon-invest_cash: "\EA0A"
$icon-man: "\EA0B"
$icon-pen_line: "\EA0C"
$icon-present: "\EA0D"
$icon-presentl: "\EA0E"
$icon-rank1: "\EA0F"
$icon-rank2: "\EA10"
$icon-rank3: "\EA11"
$icon-rocket: "\EA12"
$icon-safe: "\EA13"
$icon-umbrella: "\EA14"
$icon-wallet: "\EA15"
$icon-arr-d: "\EA16"
$icon-arr-r: "\EA17"
$icon-fb: "\EA18"
$icon-vk: "\EA19"
$icon-ok: "\EA1A"
$icon-check: "\EA1B"
$icon-close: "\EA1C"
$icon-bitcoin: "\EA1D"
$icon-dove: "\EA1E"
$icon-dollar: "\EA1F"
$icon-feedback: "\EA20"
$icon-euro: "\EA21"
$icon-finans: "\EA22"
$icon-pin: "\EA23"
$icon-gold_star: "\EA24"
$icon-keeper: "\EA25"
$icon-link: "\EA26"
$icon-mark_done: "\EA27"
$icon-mark_unacept: "\EA28"
$icon-minus: "\EA29"
$icon-pen: "\EA2A"
$icon-profile: "\EA2B"
$icon-plus: "\EA2C"
$icon-promo: "\EA2D"
$icon-settings: "\EA2E"
$icon-rub: "\EA2F"
$icon-search: "\EA30"
$icon-statistic: "\EA31"
$icon-star: "\EA32"
$icon-team: "\EA33"
$icon-calendar: "\EA35"
$icon-earth: "\EA3A"
$icon-exch: "\EA3B"


%icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon, [class^="icon-"], [class*=" icon-"]
	@extend %icon
	display: inline-block

.icon-corner-l:before
	content: $icon-corner-l
.icon-corner-r:before
	content: $icon-corner-r
.icon-caret-d:before
	content: $icon-caret-d
.icon-down:before
	content: $icon-down
.icon-blank:before
	content: $icon-blank
.icon-circle:before
	content: $icon-circle
.icon-circleprocent:before
	content: $icon-circleprocent
.icon-cup:before
	content: $icon-cup
.icon-gradueter:before
	content: $icon-gradueter
.icon-invest_cash:before
	content: $icon-invest_cash
.icon-man:before
	content: $icon-man
.icon-pen_line:before
	content: $icon-pen_line
.icon-present:before
	content: $icon-present
.icon-presentl:before
	content: $icon-presentl
.icon-rank1:before
	content: $icon-rank1
.icon-rank2:before
	content: $icon-rank2
.icon-rank3:before
	content: $icon-rank3
.icon-rocket:before
	content: $icon-rocket
.icon-safe:before
	content: $icon-safe
.icon-umbrella:before
	content: $icon-umbrella
.icon-wallet:before
	content: $icon-wallet
.icon-arr-d:before
	content: $icon-arr-d
.icon-arr-r:before
	content: $icon-arr-r
.icon-fb:before
	content: $icon-fb
.icon-vk:before
	content: $icon-vk
.icon-ok:before
	content: $icon-ok
.icon-check:before
	content: $icon-check
.icon-close:before
	content: $icon-close
.icon-bitcoin:before
	content: $icon-bitcoin
.icon-dove:before
	content: $icon-dove
.icon-dollar:before
	content: $icon-dollar
.icon-feedback:before
	content: $icon-feedback
.icon-euro:before
	content: $icon-euro
.icon-finans:before
	content: $icon-finans
.icon-pin:before
	content: $icon-pin
.icon-gold_star:before
	content: $icon-gold_star
.icon-keeper:before
	content: $icon-keeper
.icon-link:before
	content: $icon-link
.icon-mark_done:before
	content: $icon-mark_done
.icon-mark_unacept:before
	content: $icon-mark_unacept
.icon-minus:before
	content: $icon-minus
.icon-pen:before
	content: $icon-pen
.icon-profile:before
	content: $icon-profile
.icon-plus:before
	content: $icon-plus
.icon-promo:before
	content: $icon-promo
.icon-settings:before
	content: $icon-settings
.icon-rub:before
	content: $icon-rub
.icon-search:before
	content: $icon-search
.icon-statistic:before
	content: $icon-statistic
.icon-star:before
	content: $icon-star
.icon-team:before
	content: $icon-team
.icon-calendar:before
	content: $icon-calendar
.icon-earth:before
	content: $icon-earth
.icon-exch:before
	content: $icon-exch