<div class="exch js-exch">
	<button class="exch__show js-toggle-exch" type="button">Курс валют</button>
	<div class="exch__window">
		<div class="exch__title">
			Курс валют
			<div class="drop drop_light js-drop js-drop-tabs" data-tabs-group="2">
				<span class="drop__title js-drop-title">Usd</span>
				<ul class="drop__list js-drop-list">
					<li>Usd</li>
					<li>Rub</li>
					<li>Euro</li>
					<li>Yuan</li>
					<li>Tenge</li>
					<li>Bitcoin</li>
				</ul>
			</div>
		</div>
		<div data-group="2">
			<div>
				<table class="exch__table">
					<tr>
						<td>Rub</td>
						<td>72.82</td>
					</tr>
					<tr>
						<td>Euro</td>
						<td>72.82</td>
					</tr>
					<tr>
						<td>Yuan</td>
						<td>72.82</td>
					</tr>
					<tr>
						<td>Tenge</td>
						<td>72.82</td>
					</tr>
					<tr class="is-marked">
						<td>Bitcoin</td>
						<td>31 421.81</td>
					</tr>
				</table>
			</div>
			<div hidden>
				<table class="exch__table">
					<tr>
						<td>American Dollar</td>
						<td>72.82</td>
					</tr>
					<tr>
						<td>Rub</td>
						<td>72.82</td>
					</tr>
					<tr>
						<td>Yuan</td>
						<td>72.82</td>
					</tr>
					<tr>
						<td>Tenge</td>
						<td>72.82</td>
					</tr>
					<tr class="is-marked">
						<td>Bitcoin</td>
						<td>31 421.81</td>
					</tr>
				</table>
			</div>
			<div hidden>
				<table class="exch__table">
					<tr>
						<td>Euro</td>
						<td>72.82</td>
					</tr>
					<tr>
						<td>Usd</td>
						<td>72.82</td>
					</tr>
					<tr>
						<td>Rub</td>
						<td>72.82</td>
					</tr>
					<tr>
						<td>Tenge</td>
						<td>72.82</td>
					</tr>
					<tr class="is-marked">
						<td>Bitcoin</td>
						<td>31 421.81</td>
					</tr>
				</table>
			</div>
			<div hidden>
				<table class="exch__table">
					<tr>
						<td>Tenge</td>
						<td>72.82</td>
					</tr>
					<tr>
						<td>Euro</td>
						<td>72.82</td>
					</tr>
					<tr>
						<td>Rub</td>
						<td>72.82</td>
					</tr>
					<tr>
						<td>Rub</td>
						<td>72.82</td>
					</tr>
					<tr class="is-marked">
						<td>Bitcoin</td>
						<td>31 421.81</td>
					</tr>
				</table>
			</div>
			<div hidden>
				<table class="exch__table">
					<tr>
						<td>Bitcoin</td>
						<td>72.82</td>
					</tr>
					<tr>
						<td>Euro</td>
						<td>72.82</td>
					</tr>
					<tr>
						<td>Yuan</td>
						<td>72.82</td>
					</tr>
					<tr>
						<td>Tenge</td>
						<td>72.82</td>
					</tr>
					<tr class="is-marked">
						<td>Rub</td>
						<td>31 421.81</td>
					</tr>
				</table>
			</div>
			<div hidden>
				<table class="exch__table">
					<tr>
						<td>American Dollar</td>
						<td>72.82</td>
					</tr>
					<tr>
						<td>Euro</td>
						<td>72.82</td>
					</tr>
					<tr>
						<td>Yuan</td>
						<td>72.82</td>
					</tr>
					<tr>
						<td>Tenge</td>
						<td>72.82</td>
					</tr>
					<tr class="is-marked">
						<td>Rub</td>
						<td>31 421.81</td>
					</tr>
				</table>
			</div>
		</div>
		<button class="exch__hide js-toggle-exch" type="button">
			<i class="icon-caret-d"></i>
		</button>
	</div>
</div>