<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-14">
				<div class="footer__wrap">
					<ul class="footer__menu">
						<li>
							<a href="#">
								Зеркала
							</a>
						</li>
						<li>
							<a href="#">
								Контакты
							</a>
						</li>
					</ul>
					<ul class="footer__menu">
						<li>
							<a href="#">
								Открытый договор
							</a>
						</li>
						<li>
							<a href="#">
								Соглашение о конфиденциальности
							</a>
						</li>
					</ul>
					<div class="footer__info">
						<div class="soc">
							<a href="#" class="i-icon-fb"></a>
							<a href="#" class="i-icon-od"></a>
							<a href="#" class="i-icon-vk"></a>
							<a href="#" class="i-icon-yt"></a>
						</div>
						<div class="copyright">
							© VMechte
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>