<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#307296">
<link rel="stylesheet" media="all" href="css/style.css" >
<script src="js/lib/jquery/dist/jquery.js"></script>