<header class="header">
	<div class="container-fluid">
		<a class="logo" href="#">
			<img src="img/logo.png" width="164" alt="Vmechte">
			Vmechte
		</a>
		<ul class="nav">
			<li class="nav__item"><a class="nav__link" href="#">Главная</a></li>
			<li class="nav__item"><a class="nav__link" href="#">Новости</a></li>
			<li class="nav__item"><a class="nav__link" href="#">Маркетинг</a></li>
			<li class="nav__item"><a class="nav__link" href="#">О нас</a></li>
			<li class="nav__item"><a class="nav__link" href="#">Калькулятор</a></li>
			<li class="nav__item"><a class="nav__link" href="#">FAQ</a></li>
		</ul>
		<div class="droplist">
			<span class="droplist__title">Ru</span>
			<ul class="droplist__main">
				<li class="droplist__item">
					<a href="#">Eng</a>
				</li>
			</ul>
			<select class="droplist__touch-select">
				<option value="Eng">Ru</option>
				<option value="Fr">Eng</option>
			</select>
		</div>
		<button class="btn-nav js-btn-menu" type="button">
			<i></i>
		</button>
		<button type="button" class="btn-action js-btn-promo" data-target="reg">Зарегистрироваться</button>
		<button type="button" class="btn-action js-btn-promo" data-target="login">Войти</button>
	</div>
</header>