<div class="menu js-menu">
	<div class="lang">
		<a href="#" class="lang__item is-active">Ru</a>
		<a href="#" class="lang__item">Eng</a>
	</div>
	<button class="btn-nav js-btn-menu" type="button">
		<i></i>
	</button>
	<div>
		<a href="#" class="menu__item">
			Главная
		</a>
		<a href="#" class="menu__item">
			Новости
		</a>
		<a href="#" class="menu__item">
			Маркетинг
		</a>
		<a href="#" class="menu__item">
			О нас
		</a>
		<a href="#" class="menu__item">
			Калькулятор
		</a>
		<a href="#" class="menu__item">
			FAQ
		</a>
		<a href="#" class="menu__item is-center js-btn-promo" data-target="login">
			Войти
		</a>
		<a href="#" class="menu__item is-center js-btn-promo" data-target="reg">
			Зарегистрироваться
		</a>
	</div>
</div>