<ul class="sidebar js-sidebar">
	<li class="is-first is-active">
		<a href="#" class="sidebar__item">
			<i class="icon-profile"></i>
			<span>Мой профиль</span>
		</a>
	</li>
	<li>
		<a href="#" class="sidebar__item">
			<i class="icon-finans"></i>
			<span>Финансы</span>
		</a>
	</li>
	<li>
		<a href="#" class="sidebar__item">
			<i class="icon-team"></i>
			<span>Моя команда</span>
		</a>
	</li>
	<li>
		<a href="#" class="sidebar__item">
			<i class="icon-statistic"></i>
			<span>Статистика</span>
		</a>
	</li>
	<li>
		<a href="#" class="sidebar__item">
			<i class="icon-settings"></i>
			<span>Настройки</span>
		</a>
	</li>
	<li>
		<a href="#" class="sidebar__item">
			<i class="icon-feedback"></i>
			<span>Отзывы</span>
		</a>
	</li>
	<li>
		<a href="#" class="sidebar__item">
			<i class="icon-dove"></i>
			<span>Моя мечта</span>
		</a>
	</li>
	<li>
		<a href="#" class="sidebar__item">
			<i class="icon-promo"></i>
			<span>Промоматериалы</span>
		</a>
	</li>
	<li>
		<a href="#" class="sidebar__item">
			<i class="icon-keeper"></i>
			<span>Работа хранителем</span>
		</a>
	</li>
</ul>
<button type="button" class="btn-sidebar js-btn-sidebar">
	<i class="icon-down"></i>
</button>